<!DOCTYPE html>
<html>
  <head>
    <title>PinteriorsVidos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <script type="text/javascript">
      window.images = {
        backgroundImage: "<%= image_url("backgroundImage.png") %>",
        backgroundImage: "<%= image_url("backgroundImage2.png") %>"
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
