<!DOCTYPE html>
<html>
  <head>
    <title>Pinteriors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/a5666e50f9.js" crossorigin="anonymous"></script>
     <script type="text/javascript">
      window.images = {
        backgroundImage: "<%= image_url("backgroundImage.png") %>",
        backgroundImage: "<%= image_url("backgroundImage2.png") %>",
        logo: "<%= image_url("logo.png") %>"
        
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
